venv
Facesheets-Classification
Documents-Classification
InternVL2_5-8B
Qwen2-VL-7B-Instruct
__pycache__
results
uploads
images
f2f
model
f2ff
f2foutput
ch_PP-OCRv4_cls_infer
en_PP-OCRv3_det_infer
en_PP-OCRv4_rec_infer
Qwen2.5-VL-7B-Instruct
Qwen2.5-7B-Instruct
Llama-3.1-8B-Instruct
best.pt
runs
docs
classified_pdfs
clienttesting1.log
singleapi.err
singleapi.log
